

<section class="new-user">
<header class="page-header">
  <h1> Register Account </h1>
</header>

<div class="well">
  <%= link_to 'Home', [:root], class: 'btn btn-primary' %>
</div>
<br>

<div class="row">
  <div class="col-sm-6 col-sm-offset-1">
    <%= form_for :user do |form| %> 


    <div class="form-group">
      <%= form.label :name %> 
      <%= form.text_field :name, class: 'form-control' %>
    </div>
    <br>

    <div class="form-group">
      <%= form.label :email %> 
      <%= form.text_field :email, class: 'form-control' %>
    </div>
    <br>

    <div class="form-group">
      <%= form.label :password %>
      <%= form.password_field :password, class: 'form-control' %>
    </div>
    <br>

    <div class="form-group">
      <%= form.label :password_confirmation %> 
      <%= form.password_field :password_confirmation, class: 'form-control' %>
    </div>
    <br>

      <%= form.submit 'Submit', class: 'btn btn-primary' %> 
    <% end %>
  </div>
</div>
</section>